.container {
  position: relative;
  border: 1px solid black;
  width: 400px;
  height: 400px;
}
.text {
  position: absolute;

  /* top: 360px; */
  /* bottom: 360px; */

  /* top: 180px;
  bottom: 180px;
  left: 180px; */

  /* left: 360px; */
  /* bottom: 360px; */

  left: 360px;
  top: 360px;
}
/* Transform on x axis & y axis */
.box {
  background-color: aqua;
  /* transform: translate(0px, 250px); */
  /* transform: rotate(-45deg); anticlocewise */
  /* transform: rotate(45deg); */
  margin: 200px;
  /* transform: scale(1.5, 1);
  transform: scaleX(2); */
  /* scale(horizontal,vertical); */

  /* transform: skew(20deg); tilt */
  transform: skew(45deg);
}
